name: Deploy to VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_NAME=ghcr.io/$OWNER/demo-race:latest

          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/demo-race/f1-gp-david

            # Pull latest code
            git pull

            # Stop and remove old container
            docker stop demo-race || true
            docker rm demo-race || true

            # Pull latest image
            OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
            IMAGE_NAME=ghcr.io/$OWNER/demo-race:latest
            docker pull $IMAGE_NAME

            # Run new container
            docker run -d --name demo-race -p 8083:3000 $IMAGE_NAME

            # Cleanup old images
            docker image prune -f
